@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,800&display=swap');

html{
    width: auto;
    height: auto;
}

body{
    width: auto;
    height: auto;
    font-size: 10px;
    padding: 0em;
    margin: 0;
    background-image: url('https://www.idaidaida.net/MIX_og-image.png') ;
    background-repeat: repeat-y;
    background-size: cover;
}

.nav{
    width: 100%;
    height: 5em;
    display: flexbox;
    justify-content: space-between;
    background-color: #e3e3e3;

    position: fixed;
    top: 0em;
    z-index: 3;
}

.bi{
    left: 1.2%;
    top: -3.4%;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: 'Azeret Mono';
    font-size: 1.7em;
    color: black;
    text-decoration: none;
} .bi:hover {
    color: rgb(111, 215, 181);
}

.shs{
    display: flex;
    float: left;
    left: 11%;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.shs:hover {
    color: rgb(111, 215, 181);
}
.shs:target{
 margin-top:11em;
}
.eps{
    display: flex;
    float: left;
    left: 18.5%;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    top: .6em;
    text-decoration: none;
}
.eps:hover {
    color: rgb(111, 215, 181);
}

.menu{
    display: none;
}

.shp{
    display: flex;
    float: left;
    right: 1%;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.shp:hover {
    color: rgb(111, 215, 181);
}
.au{
    display: flex;
    float: left;
    right: 6.2%;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none; 
}
.au:hover {
    color: rgb(111, 215, 181);
}
.dte{
    display: flex;
    float: left;
    right: 15%;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.dte:hover {
    color: rgb(111, 215, 181);
}

.nav-lv{
    display: inline-grid;
    width: 100%;
    height: 5em;
    margin: 0;
    position: fixed;
    top: 5em;
    z-index: 3;
}
.l{
    grid-column: 1;
    height: 5em;
    background-color: #eaadcb;
    position: sticky;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
}

.l h2{
    color: rgba(237, 87, 87, 0);
    margin: 0;
    padding: -0;
    -webkit-text-stroke: 1px #e16457;
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
        margin-left: 5%;
        margin-top: 2.5%;
    }
.l h3{
color: #e16457;
margin: 0;
padding: -0;
font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 2.5%;
}

.r{
    grid-column: 2;
    height: 5em;
    background-color: #7662e5;
    position: sticky; 
    margin-top: 0em; 
    display: flex;
    flex-direction: row; 
}
.r h2{
    color: rgba(237, 87, 87, 0);
    margin: 0;
    padding: -0;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
        margin-left: 5%;
        margin-top: 2.5%;
}
.r h3{
    color: white;
    margin: 0;
    padding: -0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 2.5%;
}

.live-s{
    display: grid;
    columns: 2;
    column-gap: 0;
    grid-template-columns: auto auto;
    width: 100%;
    height: 44em;
    margin: -0;
    margin-top: 10em;
    margin-bottom: 0em;
    z-index: -3;
}
/* mex rosa bg colr: rgba(112, 206, 125, 0.909)*/
.lft{
    grid-column: 1;
    width: 50%;
    height: 44em;
    background-color: #eaadcb;
    margin: 0em;
    z-index: -3;
    position: absolute;
    left:0;
    margin-bottom: 0em;
}


.logo{
   position:absolute;
  -webkit-text-stroke: 2px #e16457;
  background-color: transparent;
  color: transparent;
  font-size: 7em;
  z-index: -3;
  font-family: 'Azeret Mono';
  margin: 0em;
}

/* mex bg color: rgba(188, 38, 38, 0.783); */
.rht{
    grid-column: 2;
    width: 50%;
    height: 44em;
    background-color:#7662e5;
    position: absolute;
    margin-left: 50%;
    z-index: -3;
    margin-bottom: 0em;
}

.rht-actv-img{
    background-image: url(../img/img-show-lve.jpeg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(127, 255, 212, 0.091);
    width: 100%;
    height: 60%;
    margin-top: 0em;
    margin-left:  0%;

    z-index: -3;
}
.link-cnt{
    width: 80%;
    height: 80%;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-left: 3em;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0%;
    margin-bottom: -3em;
}
.cdmx{
    background-color:  #7662e5;
    color:#e16457;
    height: 100%;
    border-radius: 999px;
    border-width: 0;
    font-family: 'Azeret Mono';
    font-size: 1.3em;
    text-decoration: none;   
    justify-self: center; 
    padding: 1.4%;
    text-align: center;
    align-self: flex-end;
}
.rht-actv-nme{
    background-color: rgba(127, 255, 212, 0.091);
    width: 100%;
    height: 18em;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    margin-top: 0em;
}
    
.rht-act-nme h2{
    font-size: 4em;
    font-family: 'Azeret Mono';
    display: block;
    margin-left: 1em;
    margin-bottom: 0em;
    margin-top: 1em;
}
.rht-act-nme a{
    font-size: 10;
    font-family: 'Azeret Mono';
    display: block;
    margin-top: 0em;
    margin-left: 4em;
    margin-top: 0em;
}
section{
    width: 100%;
    height: max-content;
    background-color: rgba(254, 227, 227, 0);
    margin:  0em;
    margin-top: 3em;
    margin-left: 0em;
    margin-bottom: 2em;

}
.sec-ttle{
    width: 100%;
    font-family: 'Azeret Mono';
    -webkit-text-stroke: 1.2px rgba(30, 29, 29, 0.799);
  background-color: transparent;
  color: rgba(140, 103, 234, 0.379);
    font-size: 6em;
    text-align: center;
}
 
#shows{
    scroll-margin-top: 2em;
}

.shws{
    width: 100%;
    display: grid;
    left: .5em;
    columns: 3;
    grid-template-columns: auto auto auto;
    column-gap: .5em;
    margin-bottom: 3em;
    
}

.ss-c{
    width: 95%;
    height: 40em;
    margin: 1em;
    padding: -0;
    background-color: rgba(92, 84, 84, 0.543);
    border-radius: 2%;
}

.epss{
    width: 100%;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1em;

}
#epss{
    scroll-margin-top: 20em;
}
.ep-lnk{
    width: 60%;
    height: 15em;
    justify-self: center;
    background-color:rgba(92, 84, 84, 0.543)
}

@media (max-width: 985px){
    .shs{display: none;}
    .eps{display:none;}
    .shp {display:none;}
    .au{display:none;}
    .dte{display:none;}
    .menu{
        display: flex;
        width: 5em;
        height: 5em;
        float: right;
        background-color: #e3e3e3;
        display: flexbpox;
        justify-content: center;
        position: sticky;
        top: 0em;
    }
    
    .mnu-btn{
        align-self: center;
        justify-self: center;
        width: 3em;
        height: 3em;
        font-family: 'Azeret Mono';
        font-size: 4em;
        margin-top: 0em;
        border-width: 0;
        background-color: #e3e3e3;
    }
    .mnu-btn:hover{
        align-self: center;
        justify-self: center;
        width: 3em;
        height: 3em;
        font-family: 'Azeret Mono';
        font-size: 4em;
        margin-top: 0em;
        border-width: 0;
        color: rgb(111, 215, 181);
    }
    .mnu.opn{
        display: none;
    }
    
}
