@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@1,800&display=swap');

html{
    width: auto;
    height: auto;
}

body{
    width: auto;
    height: auto;
    font-size: 10px;
    padding: 0em;
    margin: 0;
    background-image: url('https://www.idaidaida.net/MIX_og-image.png') ;
    background-repeat: repeat-y;
    background-size: cover;
}

.nav{
    width: 100%;
    height: 5em;
    display: flexbox;
    justify-content: space-between;
    background-color: rgb(229, 224, 224);
    position: fixed;
    top: 0em;
    z-index: 1;
}

.bi{
    left: .3em;
    top: -.45em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: 'Azeret Mono';
    font-size: 3em;
    color: black;
}

.shs{
    display: flex;
    float: left;
    left: 5.5em;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.shs:target{
 margin-top:11em;
}
.eps{
    display: flex;
    float: left;
    left: 9.5em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    top: .6em;
    text-decoration: none;
}

.menu{
    display: flex;
    width: 5em;
    height: 5em;
    float: right;
    background-color: rgba(182, 210, 206, 0.687);
    display: flexbpox;
    justify-content: center;
    position: sticky;
    top: 0em;
}

.mnu-btn{
    display: flex;
    align-self: center;
    justify-self: center;
    width: 3em;
    height: 3em;
    
}

.mnu.opn{
    display: none;
}

.shp{
    display: flex;
    float: left;
    right: 3.5em;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.au{
    display: flex;
    float: left;
    right: 6.5em;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none; 
}
.dte{
    display: flex;
    float: left;
    right: 11.5em;
    top: .6em;
    position: fixed;
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: black;
    text-decoration: none;
}


.nav-lv{
    display: inline-grid;
    width: 100%;
    height: 5em;
    margin: 0;
    position: fixed;
    top: 5em;
}
.l{
    grid-column: 1;
    height: 5em;
    background-color:  rgb(248, 208, 245);
    position: sticky;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
}

.l h2{
    color: rgba(237, 87, 87, 0);
    margin: 0;
    padding: -0;
    -webkit-text-stroke: 1px rgb(237, 87, 87);
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
        margin-left: 5%;
        margin-top: 2.5%;
    }
.l h3{
color: rgb(237, 87, 87);
margin: 0;
padding: -0;
font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 2.5%;
}

.r{
    grid-column: 2;
    height: 5em;
    background-color: rgb(140, 103, 234);
    position: sticky; 
    margin-top: 0em; 
    display: flex;
    flex-direction: row; 
}
.r h2{
    color: rgba(237, 87, 87, 0);
    margin: 0;
    padding: -0;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-family: 'Arial Narrow Bold', sans-serif;
        font-size: 2em;
        margin-left: 5%;
        margin-top: 2.5%;
}
.r h3{
    color: white;
    margin: 0;
    padding: -0;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 2.5%;
}

.live-s{
    display: inline-grid;
    grid-column: 2;
    grid-template-columns: auto auto;
    column-gap: 0;
    width: 100%;
    height: 64em;
    margin: -0;
    margin-top: 0;
    margin-bottom: 0em;
}

.lft{
    grid-column: 1;
    display: inline;
    flex: 1;
    width: 100%;
    height:  64em;
    background-color: rgb(248, 208, 245);
    margin: 0em;
    z-index: -1;
}
.lft.bg{
    background-color:  rgb(237, 146, 243);
    z-index: -5;
}

.logo{
   position:absolute;
  -webkit-text-stroke: 2px rgb(237, 87, 87);
  background-color: transparent;
  color: transparent;
  font-size: 7em;
  z-index: -2;
  font-family: 'Azeret Mono';
  margin: 0em;
}
.logo2{
    position:absolute;
  -webkit-text-stroke: 2px rgb(237, 87, 87);
  background-color: transparent;
  color: transparent;
  font-size: 7em;
  z-index: -3;
  font-family: 'Azeret Mono';
  margin: 0em;
}
.logo3{
    position:absolute;
    -webkit-text-stroke: 2px rgb(237, 87, 87);
    background-color: transparent;
    color: transparent;
    font-size: 7em;
    z-index: -4;
    font-family: 'Azeret Mono';
    margin: 0em;
}


.rht{
    grid-column: 2;
    display: grid;
    flex: 1;
    max-width: 100%;
    width: 100%;
    height: 64em;
    background-color: rgb(140, 103, 234);
    margin: 0em;
    justify-items: center;
    align-items: center;
    z-index: -1;
}

.shw-img{
    background-image: url('https://www.idaidaida.net/MIX_og-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30em;
    margin-top: -25em;
}
.logo-rt {
    position:absolute;
   -webkit-text-stroke: 2px rgb(255, 255, 255);
   background-color: transparent;
   color: transparent;
   font-size: 7em;
   z-index: -2;
   font-family: 'Azeret Mono';
   margin: 0em;
   display: none;
 }

section{
    width: 100%;
    height: max-content;
    background-color: rgba(254, 227, 227, 0);
    margin: 0em;
    margin-top: 0em;
    margin-left: 0em;
    margin-bottom: 2em;

}
.sec-ttle{
    width: 100%;
    font-family: 'Azeret Mono';
    -webkit-text-stroke: 1.2px rgba(30, 29, 29, 0.799);
  background-color: transparent;
  color: rgba(140, 103, 234, 0.379);
    font-size: 6em;
    text-align: center;
}
 
#shows{
    scroll-margin-top: 2em;
}

.shws{
    width: 100%;
    display: grid;
    left: .5em;
    columns: 3;
    grid-template-columns: auto auto auto;
    column-gap: .5em;
    margin-bottom: 3em;
    
}

.ss-c{
    width: 95%;
    height: 40em;
    margin: 1em;
    padding: -0;
    background-color: rgba(92, 84, 84, 0.543);
    border-radius: 2%;
}

.epss{
    width: 100%;
    height: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: grid;
    grid-template-columns: auto;
    row-gap: 1em;

}
#epss{
    scroll-margin-top: 20em;
}
.ep-lnk{
    width: 60%;
    height: 15em;
    justify-self: center;
    background-color:rgba(92, 84, 84, 0.543)
}